.allPosts {
  margin-left: 10px;

  .allPosts__numPosts {
    width: 120px;
    height: 30px;
  }

  .allPosts__postssList {
    max-width: 630px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-content: center;
  }
}
