.postCard {
  max-width: 300px;
  width: 100%;
  text-decoration: none;
  color: #464646;

  .postCard__container {
    padding: 15px;
    border: 1px solid #D5D5D5;
    max-width: 300px;
    max-height: 200px;
    width: 100%;

    .postCard__singAuthor {
      margin: 0;
      font-size: 15px;
      color: #a3a3a3;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .postCard__title {
      margin: 8px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: #283139;
    }

    .postCard__time {
      margin: 0;
      font-size: 15px;
      color: #a3a3a3;
    }

  }
}
